@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
    margin:0;
    padding:0;
}
body{
    font-family:"Poppins", sans-serif;
    color:#212529;
    font-weight: 400;

}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
img{
    border:none;
}
.aside{
    width: 230px;
}
.aside_user{
    width: 60%;
    display: -webkit-flex;
    justify-content: space-between;
    flex-direction: column;
}
.aside_photo{
    display: -webkit-flex;
    align-items: center;
}
.aside_photo img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 6%;
}
.photo_right{
    font-size: 12px;

}












































